#content h2 {
	margin-top: 25px;
	font-size: 125%;
}

.collapse-header {
	background: #3155a6;
	border-bottom: 1px solid #000000;
	font-weight: bold;
	padding: 10px;
	color: #ffffff;
	font-size: 110%;
	cursor: pointer;
	margin:0px;
}

.collapse-text {
	background: #efefef;
	border: 1px solid #3155a6;
	border-top: none;
	padding: 10px;	
	margin: 0px;
}

.collapse-text p {
}
