{% extends "base.html" %}
{% block content %}
<h1>Fréttir frá öllum</h1>
<div class="post">
	<div class="school-info">
		<img class="face" src="/media/myndir/rss/hushall.jpg" width="64" height="64" alt="">
	</div><div class="rss-post">
		<div class="rss-header">
			<h2 class="postidentify">Handverks- og Hússtjórnarskólinn á Hallormsstað | 15. December 2010</h2>
			<h1 class="rss-title"><a href="http://www.hushall.is/index.php?option=com_content&amp;view=article&amp;id=113:haustoenn-2010-ae-ljuka&amp;catid=1:skolastarfid&amp;Itemid=50">Haustönn 2010 að ljúka!</a></h1>
		</div>
		<div class="rss-contents">
			<p style="text-align: center;">Jólasýningin okkar er búin og gekk svakalega vel. Við fengum fullt af góðum gestum sem þáðu kaffi og með'ðí og skoðuðu ótrúlega fjölbreytt og skemmtilegt handverk. Þar á meðal tréútskurð, útsaum, hekl, glermuni, fatnað, keramik, listmuni úr hornum og beini ásamt ýmsu öðru :)  <br /><br />Skólaslitin í ár verða með óhefðbundnum hætti, en það setjum við allt á reikning veðurguðanna!  Skólaslitin áttu að vera á morgun, fimmtudaginn 16. desember, en í staðinn slítum við skólanum í dag miðvikudag, því við viljum jú koma unga fólkinu okkar til síns heima á undan storminum.</p>
			<p style="text-align: center;"><img src="http://www.hushall.is/images/stories/haust24.jpg" style="border: 3px solid black;" height="299" border="0" width="572" /></p>
			<p style="text-align: center;">Fyrir hönd skólans þökkum við nemendum haustannar 2010 kærlega fyrir frábæra önn - þið voruð (og eruð) frábær!</p>	  </div>
		</div>
	</div>
</div>
<div class="post">
	<div class="school-info">
		<img class="face" src="/media/myndir/rss/mk.jpg" width="64" height="64" alt="">
	</div><div class="rss-post">
		<div class="rss-header">
			<h2 class="postidentify">Menntaskólinn í Kópavogi | 14. December 2010</h2>
			<h1 class="rss-title"><a href="http://mk.is/index.php?option=com_content&amp;view=article&amp;id=1241:nieurstoeeur-profa&amp;catid=15:Almennar&amp;Itemid=50">Niðurstöður prófa</a></h1>
		</div>
		<div class="rss-contents">
			<p>Verklok haustannar</p>
			<p>Prófum í MK lauk í dag og síðustu einkunnir birtast á dag og á morgun. Brautskráning stúdenta og iðnnema fer fram í Digraneskirkju, föstudaginn 17. desember, kl. 14. Nú fer í hönd vinna stjórnenda með einkunnir og námsárangur. Nemendur sem falla tvær annir í röð (ná ekki 9 einingum) eiga ekki vísa skólavist á vorönn 2011. Þeirra mál verða skoðuð í næstu viku og mega þessir nemendur búast við bréfi frá skólanum í framhaldi um stöðu mála. Minnt er á að þótt einkunnin 4 sé falleinkunn er heimild í námskrá fyrir þvi að nemendur geti haldið þeirri einkunn <span style="color: #ff0000;">ef um lokaáfanga eða stakan áfanga er að ræða</span>, hún gefur ekki einingar en nemendur geta þá annað hvort tekið áfangann aftur eða tekið aðrar einingar á móti. <strong>Prófsýning og staðfesting á vali fer fram 16. desember</strong> <strong>kl. 14-16.</strong> Nemendur eru beðnir að skoða valið sitt fyrir næstu önn þann dag í INNU og hafa samband við umsjónarkennara sinn ef þarf að breyta því.</p>
			<p></p>	  
		</div>
	</div>
</div>

	<p><strong>Síðast uppfært:</strong><br/> 15. December 2010<br></p>
{% endblock %}
