{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Villa kom upp við innskráningu</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    <label for="username">Notandanafn:</label>
    <input type="text" name="username" value="" id="username">

    <label for="password">Lykilorð:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>

{% endblock %}

